fastapi~=0.115.12
uvicorn~=0.23.2
pandas~=2.1.3
numpy~=1.26.2
scikit-learn~=1.3.2

# Jinja2 for rendering templates
jinja2

# Pydantic for data validation
pydantic

# Matplotlib for visualizations (optional, if needed)
matplotlib


